/* RESET CSS*/
body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}


body {
    background: #e5e5e5;
    font-family: 'Nunito', sans-serif;
}

header {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div a {
    text-decoration: none;
}
img {
    margin-top: 30px;
}
h1 {
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    font-size: 36px;
    margin-top: 10px;
    color:#111111;
}

main {
    width: 620px;
    height: 763px;
    margin: 40px auto;
    background: white;
    border-radius: 20px;

}

.form  {
    margin: 0 auto;
    padding-left: 46px;
    padding-right:59px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #767676;

}

.form label {
    display: flex;
    justify-content: center;
}

.form input {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    background: white;
    line-height: 38px;
    padding: 0 10px;
 

}
.input1 {
       width: 513px;
       margin-bottom: 72px;

}   

.input2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 330px
    
}

.input3 {
    width: 162px;

}





.box-register {
    width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 45px;
    
    
}


.box-terms label {
    color: #111111;
}


.button-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    width: 81px;
    height: 40px;
    background: #0DBDBD;
    color: white;
    border: none;
    border-radius: 10px;
}



.button-register:hover {
    background:#0ca1a1;
}


/* SUCESS.HTML */

.sucess {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-goback {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.goback  {
    padding: 0px 12px;
    font-size: 2.25em;
    width: 269px;
    height: 177px;
    border-radius: 10px;
    border: none;
    background: #0DBDBD;
    color: white;
    gap: 6px;
}

.goback:hover {
    background:#0ca1a1;
}